<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanou.care.mapper.EmpMapper">
    <select id="findAllEmp" resultType="Emp">
        select id,ename from emp
    </select>
    <update id="updateEmp">
        update emp set ename=#{ename} where id=#{id}
    </update>
    <select id="findEmp" resultType="emp">
        select id,ename from emp where id=#{id}
    </select>
</mapper>